.diplomas {
  padding: 100px 0;

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 47px;

    text-align: center;
  }

  &__swiper {
    width: 85%;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }
}

.diplomas-button-prev {
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #00a4d7;
}

.diplomas-button-next {
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #00a4d7;
}