.diplomas {
  padding: 50px 0 100px;

  @include mobile {
    padding: 25px 0 150px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 47px;

    text-align: center;

    @include mobile {
      font-size: 30px;
    }
  }

  &__swiper {
    width: 85%;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }
}

.diplomas-button-prev {
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #00a4d7;

  @include mobile {
    top: auto !important;
    left: 10%;
    bottom: -100px;
  }
}

.diplomas-button-next {
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #00a4d7;

  @include mobile {
    top: auto !important;
    right: 10%;
    bottom: -100px;
  }
}