.feedback {
  padding: 100px 0;
  background: url('../img/feedback/feedback-bg.jpg') center/cover no-repeat;

  @include mobile {
    padding: 60px 0 170px;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 47px;
    color: #fff;

    text-align: center;

    @include mobile {
      font-size: 30px;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__swiper {
    width: 85%;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__arrow {
    cursor: pointer;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.feedback-button-prev {
  top: 60%;
  transform: translateY(-50%);
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #3D2A79;

  @include mobile {
    top: auto !important;
    left: 10%;
    bottom: -150px;
  }
}

.feedback-button-next {
  top: 60%;
  transform: translateY(-50%);
  border-radius: 8px;
  color: #fff;
  width: 81px;
  height: 81px;
  background: #3D2A79;

  @include mobile {
    top: auto !important;
    right: 10%;
    bottom: -150px;
  }
}