.header {
  @include big-desktop-min-1886 {
    background: right 0% / 70% 100% no-repeat url('../img/header/header-print.png');
  }

  @include tablet-max-1144 {
    background: right 0% / 68% 100% no-repeat url('../img/header/header-print.png');
  }

  @include small-tablet {
    background: right 0% / 60% 100% no-repeat url('../img/header/header-print.png');
  }

  @include mobile {
    padding: 20px 0;
    background: none;
  }

  padding: 27px 0 40px;
  background: right 0% / 75% 100% no-repeat url('../img/header/header-print.png');

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__links {
    @include mobile {
      display: none;
    }

    position: absolute;
    right: 0;
    top: -17px;
    display: flex;
    align-self: start;
    gap: 37px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__svg {
    width: 30px;
    height: 30px;
  }

  &__text {
    @include tablet-max-1144 {
      display: none;
    }

    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
}