.header {
  padding: 27px 0 40px;
  height: 157px;
  background: right 0% / 75% no-repeat url(/img/header/header-print.png);

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__links {
    position: absolute;
    right: 0;
    top: -17px;
    display: flex;
    align-self: start;
    gap: 37px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__svg {
    width: 30px;
    height: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
}