.intro {
  // background: url('../img/intro/intro-bg.jpg') center center/cover no-repeat;

  background: linear-gradient(90.11deg, rgba(0, 164, 215, 0.65) -5.03%, rgba(128, 181, 61, 0.65) 153.31%), url('../img/intro/intro-bg.jpeg') center center/cover no-repeat;
  ;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 100px;

    @include small-tablet {
      padding: 100px 0;
    }
  }

  &__title {
    margin-bottom: 62px;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 113px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    @include small-tablet {
      font-size: 45px;
    }
  }

  &__subtitle {
    margin-bottom: 43px;
    font-weight: 400;
    font-size: 47px;
    text-align: center;
    color: #fff;

    @include big-desktop {
      font-size: 25px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__usp {
    margin-bottom: 83px;
    font-weight: 400;
    font-size: 47px;
    color: #fff;
    text-align: center;

    @include big-desktop {
      font-size: 25px;
    }

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #3d2a79;

    font-weight: 600;
    font-size: 26px;
    color: #fff;

    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
  }
}