<section class="about" id="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__left">
        <div class="about__rectangle"></div>
        <h3 class="about__title">О нас</h3>

        <h3 class="about__subtitle">Podology global</h3>

        <p class="about__text">
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
          Центр заботы о ваших ногахЦентр заботы о ваших ногах
        </p>
      </div>
      <div class="about__right">
        <picture>
          <source srcset="img/about/logo.webp" type="image/webp">
          <img loading="lazy" src="img/about/logo.jpg" class="image" width="305" height="432" alt="Логотип">
        </picture>
      </div>
    </div>
  </div>
</section>