<section class="about" id="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__left">
        <div class="about__rectangle"></div>
        <h3 class="about__title">О нас</h3>

        <h3 class="about__subtitle">Podology global</h3>

        <p class="about__text">
          Мы — центр подологии, где сочетаются медицинский подход, профессиональная эстетика и комфорт каждого клиента. 
        </p>
        <p class="about__text">  
          Наши подологи — специалисты с медицинским образованием и опытом работы от 5 лет, а мастера-эстеты и нейл-стилисты — настоящие эксперты в уходе за стопами и ногтями с оптовом работы от 5 лет. Мы работаем с самыми сложными случаями и добиваемся результатов, подтверждённых кейсами «до/после». 
          </p>
          <p class="about__text">  
          У нас отдельные приватные кабинеты что удобно для мужчин и женщин, полный контроль стерильности и современное оборудование. Все процедуры проводятся с применением лучших средств и новейших технологий.
          </p>
          <p class="about__text">
          Мы сотрудничаем с узкими специалистами для комплексного подхода. Онлайн-запись, индивидуальный подход и крутая бонусная карта — потому что мы любим своих клиентов и ценим их доверие. 
          </p>
          <p class="about__text">
          Приходите — на консультации мы разберём вашу проблему и подберём решение, которое действительно работает.
        </p>
      </div>
      <div class="about__right">
        <picture >
          <source srcset="img/about/logo.webp" type="image/webp">
          <img loading="lazy" src="img/about/logo.jpg" class="image" width="305" height="432" alt="Логотип">
        </picture>
      </div>
    </div>
  </div>
</section>