<section class="diplomas">
  <div class="container">
    <h3 class="diplomas__title">
      Дипломы специалистов
    </h3>

    <div class="diplomas__inner">

      <div class="swiper diplomas__swiper">
        <div class="swiper-wrapper diplomas__wrapper">
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide diplomas__slide">
            <picture>
              <source srcset="img/diplomas/diploma.webp" type="image/webp">
              <img loading="lazy" src="img/diplomas/diploma.jpg" class="diplomas__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
        </div>



      </div>

      <div class="swiper-button-prev diplomas-button-prev"></div>
      <div class="swiper-button-next diplomas-button-next"></div>

      
    </div>
  </div>
</section>