<section class="feedback">
  <div class="container">

    <h3 class="feedback__title">
      Отзывы клиентов
    </h3>
    <div class="feedback__inner">

      <div class="swiper feedback__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback-1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249"
                alt="Диплом">
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev feedback-button-prev"></div>
      <div class="swiper-button-next feedback-button-next"></div>

    </div>
  </div>
</section>