<section class="feedback">
  <div class="container">

    <h3 class="feedback__title">
      Отзывы клиентов
    </h3>
    <div class="feedback__inner">

      <div class="swiper feedback__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_1.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_1.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_2.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_2.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_3.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_3.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_4.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_4.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_5.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_5.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_6.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_6.jpg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_7.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_7.jpeg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
          <div class="swiper-slide feedback__slide">
            <picture>
              <source srcset="img/feedback/feedback_8.webp" type="image/webp">
              <img loading="lazy" src="img/feedback/feedback_8.jpg" class="feedback__img" width="300" height="249">
            </picture>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev feedback-button-prev"></div>
      <div class="swiper-button-next feedback-button-next"></div>
    </div>
  </div>
</section>