<section class="feedback">
  <div class="container">

    <h3 class="feedback__title">
      Отзывы клиентов
    </h3>
    <div class="feedback__inner">
      <img loading="lazy" src="img/feedback/arrow-left.svg" class="feedback__arrow" width="81" height="81" alt="Прокрутить влево">

      <div class="feedback__slider">
        <picture>
          <source srcset="img/feedback/feedback-1.webp" type="image/webp">
          <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249" alt="Диплом">
        </picture>

        <picture>
          <source srcset="img/feedback/feedback-1.webp" type="image/webp">
          <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249" alt="Диплом">
        </picture>

        <picture>
          <source srcset="img/feedback/feedback-1.webp" type="image/webp">
          <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249" alt="Диплом">
        </picture>

        <picture>
          <source srcset="img/feedback/feedback-1.webp" type="image/webp">
          <img loading="lazy" src="img/feedback/feedback-1.jpg" class="feedback__img" width="249" height="249" alt="Диплом">
        </picture>
      </div>

      <img loading="lazy" src="img/feedback/arrow-right.svg" class="feedback__arrow" width="81" height="81" alt="Прокрутить вправо">

    </div>
  </div>
</section>