<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">


        <div class="footer__logo">
          <picture>
            <source srcset="img/footer/footer-logo.webp" type="image/webp">
            <img loading="lazy" src="img/footer/footer-logo.png" class="footer__img" width="65" height="91"
              alt="Логотип">
          </picture>

          <h4 class="footer__title">Podology <br>
            <span class="footer__title-big">global</span> 
          </h4>
        </div>

        <div class="footer__links">
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/address.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">Адрес: Астана, ул., Улы Дала, д., 62</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/phone.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">77075606623</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/whatsapp.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">WhatsApp</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/instagram.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">Instagram</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/mail.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">podolog.global@mail.ru</p>
          </a>
        </div>
      </div>

      <picture>
        <source srcset="img/footer/map.webp" type="image/webp">
        <img loading="lazy" src="img/footer/map.jpg" class="footer__map" width="641" height="530" alt="Карта">
      </picture>
    </div>
  </div>
</footer>