<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">


        <div class="footer__logo">
          <picture>
            <source srcset="img/footer/footer-logo.webp" type="image/webp">
            <img loading="lazy" src="img/footer/footer-logo.png" class="footer__img" width="65" height="91"
              alt="Логотип">
          </picture>

          <h4 class="footer__title">Podology <br>
            <span class="footer__title-big">global</span> 
          </h4>
        </div>

        <div class="footer__links">
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/address.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">Адрес: Астана, ул., Улы Дала, д., 62</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/phone.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">&#43; 7 (707) 560-66-23</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/whatsapp.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">WhatsApp</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/instagram.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">Instagram</p>
          </a>
          <a href="" class="footer__link">
            <img loading="lazy" src="img/footer/mail.svg" class="image" width="30" height="30" alt="Адрес">

            <p class="footer__text">podolog.global@mail.ru</p>
          </a>
        </div>
      </div>

      <div class="footer__widget">
        <a class="dg-widget-link" href="http://2gis.kz/nur_sultan/firm/70000001097635387/center/71.43973588943483,51.12009149842786/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Астаны</a><div class="dg-widget-link"><a href="http://2gis.kz/nur_sultan/center/71.439733,51.119933/zoom/16/routeTab/rsType/bus/to/71.439733,51.119933╎Podo Global, центр подологии?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Podo Global, центр подологии</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":51.12009149842786,"lon":71.43973588943483,"zoom":16},"opt":{"city":"nur_sultan"},"org":[{"id":"70000001097635387"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
      </div>

    </div>
  </div>
</footer>