<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Podo Global</title>
  <link rel="preload" href="fonts/Inter_18ptRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter_18ptSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewayMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter_18ptMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewayExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RalewaySemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <script charset="utf-8" src="https://floors-widget.api.2gis.ru/loader.js" id="dg-floors-widget-loader"></script> -->
  <script defer src="js/main.js"></script>
</head>
