<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="logo">
        <picture>
          <!-- <source srcset="img/logo/logo.avif" type="image/avif"> -->
          <source srcset="img/logo/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo/logo.png" class="image logo__img" width="65" height="91" alt="Логотип">
        </picture>

        <h2 class="title title__header">
          <span class="title__header-small">Podology</span> <br> <span class="title__header-big">global</span>
        </h2>
      </a>

      <div class="header__links">
        <a href="" class="header__link">
          <img loading="lazy" src="img/header/header-wa.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            WhatsApp
          </p>
        </a>
        <a href="" class="header__link">
          <img loading="lazy" src="img/header/header-address.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            Астана, ул., Улы Дала, д., 62
          </p>
        </a>
        <a href="" class="header__link">
          <img loading="lazy" src="img/header/header-phone.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            +77075606623
          </p>
        </a>

      </div>

        <nav class="nav header__right" title="Header nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a href="#" class="nav__link">
              О компании
            </a></li>
            <li class="nav__item"><a href="#" class="nav__link">
              Услуги
            </a></li>
            <li class="nav__item"><a href="#" class="nav__link">
              Контакты
            </a></li>
            <li class="nav__item nav__item-blue"><a href="#" class="nav__link nav__link-white">
              Записаться
            </a></li>
          </ul>
        </nav>
    </div>



  </div>
</header>