<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="logo">
        <picture>
          <source srcset="img/logo/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo/logo.png" class="image logo__img" width="65" height="91" alt="Логотип">
        </picture>

        <h2 class="title title__header">
          <span class="title__header-small">Podology</span> <br> <span class="title__header-big">global</span>
        </h2>
      </a>

      <div class="header__links">
        <a href="https://wa.me/77075606623?text=Здравствуйте,%20пишу%20с%20сайта%20Podo_global." class="header__link" target="_blank">
          <img loading="lazy" src="img/header/header-wa.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            WhatsApp
          </p>
        </a>
        <a href="https://go.2gis.com/8yrQ3" class="header__link" target="_blank">
          <img loading="lazy" src="img/header/header-address.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            Астана, ул., Улы Дала, д., 62
          </p>
        </a>
        <a href="tel:+77075606623" class="header__link" target="_blank">
          <img loading="lazy" src="img/header/header-phone.svg" class="header__svg" width="30" height="30" alt="WhatsApp">

          <p class="header__text">
            77075606623
          </p>
        </a>

      </div>

        <nav class="nav header__right" title="Главное меню" data-menu>
          <ul class="nav__list list-reset" data-menu-overlay>
            <li class="nav__item" data-menu-item><a href="#about" class="nav__link">
              О компании
            </a></li>
            <li class="nav__item" data-menu-item><a href="#services" class="nav__link">
              Услуги
            </a></li>
            <li class="nav__item" data-menu-item><a href="#contacts" class="nav__link">
              Контакты
            </a></li>
            <li class="nav__item nav__item-blue" data-menu-item><a href="https://wa.me/77075606623?text=Здравствуйте,%20пишу%20с%20сайта%20Podo_global." class="nav__link nav__link-white" target="_blank">
              Записаться
            </a></li>
          </ul>

          <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close>
            <span class="burger-close__line"></span>
            <span class="burger-close__line"></span>
          </button>
        </nav>

        <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
    </div>



  </div>
</header>