<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <h1 class="intro__title">
        Podology global
      </h1>

      <h2 class="intro__subtitle">
        Центр заботы о ваших ногах в Астане
      </h2>

      <p class="intro__usp">
        Все специалисты с медицинским образованием
      </p>


      <a href="" class="intro__link">
        <button class="intro__button btn-reset">Позвоните для консультации
        <img loading="lazy" src="img/intro/phone.svg" class="intro__svg" width="30" height="30" alt="Позвонить">
        </button>
      </a>

    </div>
  </div>
</section>