<section class="services" id="services">
  <div class="container">
    <div class="services__inner">
      <div class="services__rectangle">
        <h3 class="services__title">Услуги</h3>
      </div>


      <div class="swiper services__swiper">
        <div class="swiper-wrapper services__wrapper">
          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Удаление вросшего ногтя
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + удаление вросшего угла + обработка и перевязка раны.
              </p>

              <p class="services__price">
                Стоимость от 9 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>


            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp" team="services__photo">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__photo" width="531" height="649" alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Установка титановой нити
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка пальца + установка титановой нити + тампонирование боковых валиков.
              </p>

              <p class="services__price">
                Стоимость от 15 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp" class="services__photo">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__photo" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Установка скобы "БРЕЙС М"
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка пальца + индивидуальное изготовление скобы БрейсМ +  установка скобы + тампонирование боковых валиков.
              </p>

              <p class="services__price">
                Стоимость от 25 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Установка скобы "3-TO"
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка пальца + индивидуальное изготовление скобы "3-TO"+ установка скобы "3-ТО" + тампонирование боковых валиков.
              </p>

              <p class="services__price">
                Стоимость от 20 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Тампонирование боковых валиков
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + подготовка и обработка пальца + тампонирование боковых валиков + нанесение подоцевтического средства.
              </p>

              <!-- <p class="services__price">
                Стоимость от 20 000 &#8376;
              </p> -->

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Удаление стержневых мозолей
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + обработка стержневой мозоли + наложение разгрузочного материала или повязки.
              </p>

              <p class="services__price">
                Стоимость от 3 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Удаление натоптышей
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + обработка стержневой мозоли + наложение разгрузочного материала или повязки.
              </p>

              <p class="services__price">
                Стоимость от 3 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Выведение бородавок
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + обработка и подготовка бородавки + обработка испанской азотной кислотой + наложение разгрузочного материала.
              </p>

              <p class="services__price">
                Стоимость от 10 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Изготовление индивидуальных ортозов
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка пальца + индивидуальное изготовление скобы 3-TO+ установка скобы 3-ТО + тампонирование боковых валиков.
              </p>

              <p class="services__price">
                Стоимость от 4 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Обработка трещин на пятках
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная и инструментальная обработка пяток с глубокими трещинами и кератозом + наложение разгрузочного материала или повязки с мазью.
              </p>

              <p class="services__price">
                Стоимость от 10 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Парамедицинский педикюр
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка пальцев и ногтей + аппаратная обработка мозолей до 2х штук + обработка пяток и трещин + обработка натоптышей + нанесение подоцевтических средств+ легкий массаж стоп.
              </p>

              <p class="services__price">
                Стоимость от 15 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Обработка пальцев стопы
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + подстрижка ногтей + аппаратная и инструментальная обработка  ногтей и пальцев стоп + тампонирование боковых валиков + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 10 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Зачистка онихолизиса
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка и зачистка ногтевой пластины+ нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 1500 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Зачистка травмы ногтевых пластин на руках
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка и зачистка ногтевой пластины + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 2000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Зачистка онихогрифоза
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка и зачистка ногтевой пластины + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 3000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Протезирование ногтевой пластины и вкладки
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка и зачистка ногтевой пластины + изготовление вкладки или протезирование ногтевой пластины + тампонирование боковых валиков + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 15 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Зачистка онихомикоза (грибок ногтей) на ногах
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка и зачистка ногтевой пластины + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 4000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Подстрижка ногтей
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + подстрижка ногтей и подпиливание + тампонирование боковых валиков при необходимости + нанесение подоцевтического средства.
              </p>

              <p class="services__price">
                Стоимость от 5000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Перевязка
              </p>

              <p class="services__description">
                Обработка и перевязка раны.
              </p>

              <p class="services__price">
                Стоимость от 3000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Консультация специалиста подолога
              </p>

              <p class="services__description">
                При записи сразу на процедуру и при получении процедуры консультация идет в подарок.
              </p>

              <p class="services__price">
                Стоимость от 3000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Парамедицинский маникюр
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка ногтей пальцев рук + нанесение защитного лака + нанесение подоцевтических средств + легкий массаж кистей рук.
              </p>

              <p class="services__price">
                Стоимость от 6000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Японский маникюр MASURA
              </p>

              <p class="services__description">
                Консультация и осмотр подолога + аппаратная обработка ногтей пальцев рук + нанесение специальной пасты и пудры и защитной сыворотки + нанесение подоцевтических средств + легкий массаж кистей рук.
              </p>

              <p class="services__price">
                Стоимость от 10 000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Снятие гелевого покрытия и покрытия лаком
              </p>

              <p class="services__description">
                Консультация и осмотр специалиста подолога + снятие материала.
              </p>

              <p class="services__price">
                Стоимость от 1500 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Снятие нарощенных ногтей
              </p>

              <p class="services__description">
                Консультация и осмотр специалиста подолога + снятие материала+аппаратный маникюр.
              </p>

              <p class="services__price">
                Стоимость от 7000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>

          <div class="swiper-slide services__slide">
            <div class="services__left">

              <p class="services__name">Гелевые покрытия
              </p>

              <p class="services__description">
                Консультация и специалиста подолога + покрытие гель лаком. Покрытие осуществляется только на здоровые ногти!
              </p>

              <p class="services__price">
                Стоимость от 3000 &#8376;
              </p>

              <a href="#" class="services__link">
                <button class="services__btn btn-reset">
                  Записаться
                </button>
              </a>
            </div>

            <picture class="services__img">
              <source srcset="img/services/services-img.webp" type="image/webp">
              <img loading="lazy" src="img/services/services-img.jpg" class="services__image" width="531" height="649"
                alt="Услуга">
            </picture>
          </div>
        </div>
      </div>
      
      <div class="services__nav">
        <div class="swiper-button-prev services-button services-button-prev"></div>

        <div class="swiper-pagination services__pagination"></div>

        <div class="swiper-button-next services-button services-button-next"></div>
      </div>


    </div>
  </div>
</section>