<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__rectangle">
        <h3 class="team__title">Наша команда</h3>
      </div>
      <div class="swiper team-swiper">
        <div class="swiper-wrapper team-wrapper">
          <div class="swiper-slide team__slide">


            <picture>
              <source srcset="img/team/team-1.webp" type="image/webp">
              <img loading="lazy" src="img/team/team-1.jpg" class="team__img" width="531" height="649" alt="Врач">
            </picture>

            <div class="team__right">

              <p class="team__name">Имя Фамилия</p>

              <p class="team__description">
                Диплом 1<br>
                Диплом 2<br>
                Диплом 3
              </p>

              <p class="team__experience">
                Опыт: 12 лет
              </p>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <picture>
              <source srcset="img/team/team-1.webp" type="image/webp">
              <img loading="lazy" src="img/team/team-1.jpg" class="team__img" width="531" height="649" alt="Врач">
            </picture>

            <div class="team__right">

              <p class="team__name">Имя Фамилия</p>

              <p class="team__description">
                Диплом 1<br>
                Диплом 2<br>
                Диплом 3
              </p>

              <p class="team__experience">
                Опыт: 12 лет
              </p>
            </div>
          </div>
          <div class="swiper-slide team__slide">
            <picture>
              <source srcset="img/team/team-1.webp" type="image/webp">
              <img loading="lazy" src="img/team/team-1.jpg" class="team__img" width="531" height="649" alt="Врач">
            </picture>

            <div class="team__right">

              <p class="team__name">Имя Фамилия</p>

              <p class="team__description">
                Диплом 1<br>
                Диплом 2<br>
                Диплом 3
              </p>

              <p class="team__experience">
                Опыт: 12 лет
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination team__pagination"></div>
      </div>

    </div>
  </div>
</section>