<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__rectangle">
        <h3 class="team__title">Наша команда</h3>
      </div>


      <div class="swiper team-swiper">
        <div class="swiper-wrapper team-wrapper">
          <div class="swiper-slide team__slide">


            <picture class="team__img">
              <source srcset="img/team/team_1.webp" type="image/webp" team="team__photo">
              <img loading="lazy" src="img/team/team_1.jpeg" team="team__photo" width="531" height="649" alt="Косьяненко Александра Ивановна">
            </picture>

            <div class="team__right">

              <p class="team__name">Косьяненко Александра Ивановна</p>

              <p class="team__description">
                Подолог с медицинским образованием.
              </p>

              <p class="team__experience">
                Опыт: 5 лет
              </p>
            </div>
          </div>

          <div class="swiper-slide team__slide">
            <picture class="team__img">
              <source srcset="img/team/team_2.webp" type="image/webp" team="team__photo">
              <img loading="lazy" src="img/team/team_2.jpeg" team="team__photo" width="531" height="649" alt="Егембердиева Амина Ноомановна">
            </picture>

            <div class="team__right">

              <p class="team__name">Егембердиева Амина Ноомановна</p>

              <p class="team__description">
                Подолог, специалист эстет, неил стилист.
              </p>

              <p class="team__experience">
                Опыт: 6 лет
              </p>
            </div>
          </div>

          <div class="swiper-slide team__slide">
            <picture class="team__img">
              <source srcset="img/team/team_3.webp" type="image/webp" team="team__photo">
              <img loading="lazy" src="img/team/team_3.jpg" team="team__photo" width="531" height="649" alt="Зайнуллова Айым Канатовна">
            </picture>

            <div class="team__right">

              <p class="team__name">Зайнуллова Айым Канатовна</p>

              <p class="team__description">
                Подолог с медицинским образованием
              </p>

              <p class="team__experience">
                Опыт: 9 лет
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination team__pagination"></div>

    </div>
  </div>
</section>